body, html {
    margin: 0;
  }

body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #333;
      background-image: url("bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100%;
      
    }

    #loader {
      margin-top: 50%;
      margin-left: auto;
      margin-right: auto;
      border: 16px solid #020202;
      border-radius: 50%;
      border-top: 16px solid #6e148a;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

  #nav{
      display: flex;
      flex-direction: row;
      background-color: #333;
      opacity: 0.7;
      margin-bottom: 10px;
      justify-content: center;
  }

  #nav h3{
      color: #ddd;
  }

  .main_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }

  .profile{
    height: auto;
    width: 40%;
    text-align: center;
  }

  #profile_image{
    height: 87%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #profiel_image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  .profile_info{
    height: auto;
    width: 60%;
    background-color: #333;
    opacity: 0.8;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
  }

  .profile_info:hover{
    opacity: 0.9;
  }

  .profile_info p{
    text-align: justify;
  }

  .profile_info::-webkit-scrollbar {
    width: 5px;
  }

  .profile_info::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .profile_info::-webkit-scrollbar-thumb {
    background: rgb(144, 63, 199); 
    border-radius: 10px;
  }

  .profile_info::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 32, 160); 
  }

  .profile_info p{
    color: #fff;
  }

  .repos{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid #6e148a;
    color: #ddd;
    border-radius: 10px;
  }



.repo-item {
    border-radius: 10px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #333; 
    opacity: 0.8;
    overflow: auto;
    overflow-wrap: break-word;
}

.description {
    color: white;
}
.title {
    font-size: 30px;
    color: #008aa4;
}

.bottom {
    position:relative;
}

.language {
    max-width: 100px;
    display:inline-block;
    margin-right: 20px;
    color: white;
}

.repo-item:hover{
    text-decoration: none;
    background-color: #3e4163;
    transition: ease-in-out 0.2s;
}

.repo-item:hover > div > div{
    color: #008aa4;
    transition: ease-in-out 0.2s;
}

a:hover{
    text-decoration: none;
}
